.sticky-custom {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  height: 90px;
}
.text-bold {
  font-weight: bolder;
}
.navbar {
  background: transparent;
}
@media screen and (min-width: 720px) {
  #navbar {
    height: 75px;
  }
}
#landing {
  background: rgb(204, 123, 223);
  background: -moz-linear-gradient(
    13deg,
    rgba(204, 123, 223, 1) 0%,
    rgba(236, 236, 237, 1) 51%
  );
  background: -webkit-linear-gradient(
    13deg,
    rgba(204, 123, 223, 1) 0%,
    rgba(236, 236, 237, 1) 51%
  );
  background: linear-gradient(
    13deg,
    rgba(204, 123, 223, 1) 0%,
    rgba(236, 236, 237, 1) 51%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc7bdf",endColorstr="#ececed",GradientType=1);
}
